@charset "utf-8";
@use '../../foundation/variables' as v;
@use '../../foundation/mixins' as mixins;

.p-privacy {
    position: relative;
    padding-top: auto;
    &__floatMemu{
        &__inner{
            display: flex;
            flex-flow: row wrap;
            gap: 10px;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 0;
            @media screen and (min-width: 768px) {
                max-width: 620px;
                gap: 20px;
            }
            @media screen and (min-width: 1024px) {
                max-width: 940px;
            }
        }
        &__list{
            width: calc((100% - 10px) / 2);
            @media screen and (min-width: 768px) {
                width: calc((100% - 20px) / 2);
            }
            @media screen and (min-width: 1024px) {
                width: calc((100% - 40px) / 3);
            }
        }
        @media screen and (min-width: 1024px) {

        }
        &.fixed{
            position: fixed;
            top: 140px;
            padding: 30px 15px;
            width: 100%;
            left: 0;
            background-color: v.$color-white;
            z-index: 2;
            @media screen and (min-width: 768px) {
                padding: 30px 0;
            }
            @media screen and (min-width: 1024px) {
                padding: 40px 0;
            }
        }
    }
    &__content{
        padding: 60px 0 60px;
        margin: 0 auto;
        @media screen and (min-width: 768px) {
            padding: 60px 0 80px;
        }
        @media screen and (min-width: 1024px) {
            padding: 80px 0 120px;
            max-width: 1280px;
        }
        &__title{
            color: v.$color-accent;
            font-size: 1.8rem;
            margin-bottom: 30px;
            position: relative;
            line-height: 1.4;
            &::before{
                content: "";
                width: 100px;
                height: 2px;
                background-color: v.$color-accent;
                display: block;
                position: absolute;
                left: 0;
                bottom: -15px;
            }
            @media screen and (min-width: 768px) {
                font-size: 2.4rem;
            }
            @media screen and (min-width: 1024px) {
                font-size: 3rem;
            }
        }
        &__text{
            color: v.$color-primary;
            font-size: 1.4rem;
            line-height: 1.8;
            margin-bottom: 60px;
            @media screen and (min-width: 768px) {
                font-size: 1.6rem;
            }
            @media screen and (min-width: 1024px) {
                font-size: 1.8rem;
            }
        }
        &__ul{
            padding-left: 24px;
            display: flex;
            flex-flow: column;
            gap: 20px;
            @media screen and (min-width: 768px) {
                padding-left: 24px;
            }
            @media screen and (min-width: 1024px) {
                padding-left: 30px;
            }
            &__noNumber{
                padding-left: 0;
                @media screen and (min-width: 768px) {
                    padding-left: 0;
                }
                @media screen and (min-width: 1024px) {
                    padding-left: 0;
                }
            }
        }
        &__list{
            list-style: decimal;
            color: v.$color-accent;
            font-size: 1.8rem;
            &__noNumber{
                list-style: none;
            }
            &__title{
                color: v.$color-accent;
                font-size: 1.8rem;
                margin-bottom: 10px;
                line-height: 1.4;
                @media screen and (min-width: 768px) {
                    font-size: 2rem;
                    margin-bottom: 10px;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 2.4rem;
                }
            }
            &__text{
                color: v.$color-primary;
                font-size: 1.4rem;
                line-height: 1.8;
                margin-bottom: 30px;
                @media screen and (min-width: 768px) {
                    font-size: 1.6rem;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 1.8rem;
                }
            }
            ol{
                margin-bottom: 30px;
                color: v.$color-primary;
                padding-left: 24px;
                line-height: 1.8;
                li{
                    margin-bottom: 10px;
                    font-size: 1.4rem;
                    list-style: none;
                    position: relative;
                    &::before{
                        position: absolute;
                        right: 100%;  /* 0.5remは連番とテキストとの余白 */
                        content: "（" counter(list-item) "）";
                    }
                    &.list__bold{
                        &::before{
                            font-weight: bold;
                        }
                    }
                    @media screen and (min-width: 768px) {
                        font-size: 1.6rem;
                    }
                    @media screen and (min-width: 1024px) {
                        font-size: 1.8rem;
                    }
                    h4{
                        font-size: 1.4rem;
                        font-weight: bold;
                        @media screen and (min-width: 768px) {
                           font-size: 1.6rem;
                        }
                        @media screen and (min-width: 1024px) {
                            font-size: 1.8rem;
                        }
                    }
                    h5{
                        font-size: 1.4rem;
                        margin-bottom: 8px;
                        @media screen and (min-width: 768px) {
                           font-size: 1.6rem;
                        }
                        @media screen and (min-width: 1024px) {
                            font-size: 1.8rem;
                        }
                    }
                }
                &.nomalNumber{
                    padding-left: 30px;
                    li{
                    list-style: decimal;
                        &::before{
                            content: none;
                        }
                    }
                    @media screen and (min-width: 768px) {
                        padding-left: 40px;
                    }
                    @media screen and (min-width: 1024px) {
                        padding-left: 50px;
                    }
                    &__child{
                        list-style: decimal;
                        padding-left: 18px;
                        li{
                            list-style: decimal;
                            &::before{
                                content: none;
                            }
                            p{
                                color: v.$color-primary;
                                font-weight: normal;
                                line-height: 1.6;
                                font-size: 1.3rem;
                                margin-bottom: 20px;
                                @media screen and (min-width: 768px) {
                                    font-size: 1.4rem;
                                }
                                @media screen and (min-width: 1024px) {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                        @media screen and (min-width: 768px) {
                            padding-left: 24px;
                        }
                        @media screen and (min-width: 1024px) {
                            padding-left: 24px;
                        }
                    }
                }
                @media screen and (min-width: 768px) {
                    font-size: 2rem;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 2.4rem;
                    padding-left: 36px;
                }
            }
            @media screen and (min-width: 768px) {
                font-size: 2rem;
            }
            @media screen and (min-width: 1024px) {
                font-size: 2.4rem;
            }
        }
        &__privacyArea{
            display: flex;
            flex-flow: column;
            gap: 30px;
            align-items: center;
            a
            &__text{
                font-size: 1.4rem;
                text-align: left;
                @media screen and (min-width: 768px) {
                    font-size: 1.6rem;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 1.8rem;
                }
            }
            &__image{
                width: 120px;
                @media screen and (min-width: 768px) {
                    width: 140px;
                }
                a{
                    width: 120px;
                    display: block;
                    @media screen and (min-width: 768px) {
                        width: 140px;
                    }
                    img{

                    }
                }
            }
            @media screen and (min-width: 768px) {
               flex-flow: row nowrap; 
               align-items: flex-start;
            }
        }
    }
    &__contact{
        margin-bottom: 60px;
        &:nth-of-type(2){
            margin-bottom: 0px;
        }
        &__title{
            font-weight: bold;
            font-size: 1.6rem;
            position: relative;
            margin-bottom: 15px;
            margin-left: -8px;
            color: v.$main-color-DeepBlue;
            letter-spacing: 8px;
            &::before{
                font-size: 1.6rem;
                content:"【";
                position: relative;
            }
            &::after{
                font-size: 1.6rem;
                content:"】";
                position: relative;
            }
            @media screen and (min-width: 768px) {
                font-size: 2rem;
                margin-left: -12px;
                &::before{
                    font-size: 2rem;
                }
                &::after{
                    font-size: 2rem;
                }
            }
            @media screen and (min-width: 1024px) {
                font-size: 2.4rem;
                &::before{
                    font-size: 2.4rem;
                }
                &::after{
                    font-size: 2.4rem;
                }
            }
        }
        &__text{
            font-size: 1.4rem;
            line-height: 1.6;
            margin-bottom: 20px;
            color: v.$color-primary;
            @media screen and (min-width: 768px) {
                font-size: 1.6rem;
            }
            @media screen and (min-width: 1024px) {
                font-size: 1.8rem;
            }
        }
        &__section{
            font-size: 1.6rem;
            margin-bottom: 10px;
            font-weight: bold;
            color: v.$color-primary;
            @media screen and (min-width: 768px) {
                font-size: 1.6rem;
            }
            @media screen and (min-width: 1024px) {
                font-size: 1.8rem;
            }
        }
        &__tel{
            font-size: 1.8rem;
            margin-bottom: 10px;
            font-weight: bold;
            color: v.$color-primary;
            line-height: 1.4;
            @media screen and (min-width: 768px) {
                font-size: 2rem;
            }
            @media screen and (min-width: 1024px) {
                font-size: 2.4rem;
            }
        }
        &__time{
            font-size: 1.4rem;
            color: v.$color-primary;
            @media screen and (min-width: 768px) {
                font-size: 1.6rem;
            }
            @media screen and (min-width: 1024px) {
                font-size: 1.6rem;
            }
        }
        &__mail{
            font-size: 1.4rem;
            color: v.$main-color-DeepBlue;
            font-weight: bold;
            a{
                color: v.$main-color-DeepBlue;
                text-decoration: underline;
            }
            @media screen and (min-width: 768px) {
                font-size: 1.6rem;
            }
            @media screen and (min-width: 1024px) {
                font-size: 1.8rem;
            }
        }
    }
    &__footer{
        text-align: right;
        &__date{
            font-size: 1.4rem;
            line-height: 1.6;
            margin-bottom: 20px;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            @media screen and (min-width: 768px) {
                font-size: 1.6rem;
            }
            @media screen and (min-width: 1024px) {
                font-size: 1.8rem;
            }
        }
        &__signature{
            h4{
                font-size: 1.8rem;
                font-weight: bold;
                margin-bottom: 10px;
                @media screen and (min-width: 768px) {
                    font-size: 2rem;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 2rem;
                }
            }
            h5{
                font-size: 1.6rem;
                @media screen and (min-width: 768px) {
                    font-size: 1.8rem;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 1.8rem;
                }
            }
        }
    }
}