@charset "UTF-8";

.bg {
    padding: 70px 0;
    &-blue {
        background: #ECF5FF;
    }
    &-blue2 {
        background: #C5DFFF;
    }
    &-gray {
        background: #E2E2E2;
    }
}
/* =======================================- */
/* ▼▼▼　PC
/* =======================================- */
@include mq-up(md){
}
/* ▼▼▼　SP
/* =======================================- */
@include mq-down(md){
    .bg {
        padding: 50px 0;
    }
}